<% provide(:title, @user.name) %>
<div>
  <table class="table table-bordered table-condensed user-table">

    <tr>
      <td colspan="4">
        <%= link_to "◀", user_path(date: @first_day.prev_month), class: "btn btn-primary " %>
        　<%= l(@first_day, format: :middle) %>時間管理表　
        <%= link_to "▶", user_path(date: @first_day.next_month), class: "btn btn-primary" %>
      </td>
      
      <td>
        <% if current_user.admin? %>
          指定勤務開始時間<br>
          指定勤務終了時間
        <% else %>
          指定勤務開始時間 9:00<br>
          指定勤務終了時間 18:00
        <% end %>
      </td>
      
      <td colspan="3">基本時間</td>
      <td>初日：<%= l(@first_day, format: :short) %></td>
    </tr>

    <tr>
      <td colspan="4">所属：<%= @user.affiliation.present? ? @user.affiliation : "未所属" %></td>
      <td>名前：<%= @user.name %></td>
      <td>コード</td><td><%= @user.employee_number.present? ? @user.employee_number : "----" %></td>
      <td>出勤日数：<%= @worked_sum %>日</td>
      <td>締日：<%= l(@last_day, format: :short) %></td>
    </tr>
  </table>
</div>

  <% if current_user.admin? %>
  <div>
    
    <b>【所属長承認のお知らせ】</b><br>

    <b>【勤務変更申請のお知らせ】</b><br>

    <b>【残業申請のお知らせ】</b><br>
    <div class="bt_space">
      <%= link_to "勤務を編集","#", class: "btn btn-primary " %>&nbsp;<%= link_to "CSV出力","#", class: "btn btn-primary " %>
    </div>
    <div>
      <%= link_to "勤務修正ログ（承認済）","#", class: "btn btn-primary " %>
    </div>
    <% else %>
  <div>
    <div class="at_btn">
        <%= link_to "勤務を編集","#", class: "btn btn-primary " %>&nbsp;<%= link_to "CSV出力","#", class: "btn btn-primary " %><br>
        <%= link_to "勤務修正ログ（承認済）","#", class: "btn btn-primary " %>
    </div>

  </div>
  <% end %>
  <br>
<div>
  <table class="table table-bordered table-condensed table-hover table-striped" id="table-attendances">
    <thead>
      
      <tr>
        <th rowspan="4">残業申請</th>
        <th rowspan="4">日付</th>
        <th rowspan="4">曜日</th>

        <tr>
          <th colspan="7">実績</th>
          <th colspan="6">所定外勤務</th>
          
          <tr>
            <th colspan="3">出社</th>
            <th colspan="3">退社</th>
            <th rowspan="2">在社時間</th>
            <th rowspan="2">備考</th>
            <th colspan="2">終了予定時間</th>
            <th rowspan="2">時間外時間</th>
            <th rowspan="2">業務処理内容</th>
            <th rowspan="2">指示者確認㊞</th>
          </tr>
          
          <tr>
            <th>時</th><th>分</th><th></th>
            <th>時</th><th>分</th><th></th>
            <th>時</th><th>分</th>
          </tr>
          
        </tr>
      </tr>

    </thead>

    <tbody>
      <% @attendances.each do |day| %>
        <tr>
          <td>
            
            <%= link_to "残業申請", edit_overtime_info_user_path(@user,day) ,remote: true, class: "btn btn-primary btn-attendance" %>
            
          </td>
          
          <!-- 日付 -->
          <td><%= l(day.worked_on, format: :short) %></td>
          
          <!-- 曜日 -->
          <td>
            <% if day.worked_on.wday == 0 %>
               <%= tag.span($days_of_the_week[day.worked_on.wday],class: 'sunday') %>
             <% elsif day.worked_on.wday == 6 %>
               <%= tag.span($days_of_the_week[day.worked_on.wday], class: 'saturday') %>
             <% else %>

            <%= $days_of_the_week[day.worked_on.wday] %>
            <% end %>
          </td>
          
          <td><%= day.started_at.hour if day.started_at.present?%></td>
          <td><%= format_min(day.started_at) if day.started_at.present? %></td>
          <td>
            <% if btn_text = attendance_state(day) %>
            <%= link_to "#{btn_text}", user_attendance_path(@user, day), method: :patch, class: "btn btn-primary btn-attendance" %>
            <% end %>
          </td>

          <td><%= day.finished_at.hour if day.finished_at.present? %></td>
          <td><%= format_min(day.finished_at) if day.finished_at.present? %></td>
          
          <td></td>
          <!-- 在宅時間 -->
          <td>
            <% if day.started_at.present? && day.finished_at.present? %>
              <%= str_times = working_times(day.started_at, day.finished_at) %>
              <% @total_working_times = @total_working_times.to_f + str_times.to_f %>
            <% end %>
          </td>
          
          <td><%= day.note %></td>
          <td>
            <% if day.started_at.present? && day.finished_at.present? %>
                <%= working_times(day.started_at, day.finished_at) %>
            <% end %>
          </td>
          <td><%= format_min(day.finished_at) if day.finished_at.present? %></td>
          <td><%= format_basic_info(@user.basic_work_time).to_f * @worked_sum %></td>
          <td></td>
          <td></td>
          
        </tr>
      <% end %>
    </tbody>

    <tfoot>
      <!--rowspan:縦結合、colspan：横結合-->
      <tr>
        <td colspan="8"></td>
        
        <td><%= format("%.2f", @total_working_times.to_f) %></td>
        <td colspan="6"></td>
        <td>
          <form >
          <span>所長承認　未</span><br>
          <select name="Approval" >
            <option value="Approval">承認</option>
            <option value="Unapproved">未承認</option>
          </select>  
            <br>
        <%= link_to "申請",edit_overtime_info_user_path, class: "btn btn-primary btn-attendance" %>
        </form>
        </td>
      </tr>
    </tfoot>
  </table>
</div>
<!--モーダルウインドウ表示-->
<div id="edit-overtime-info" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
